* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  width: 100%;
}

.galleryContainer {
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: 0;
}

.navbarContainer {
  position: absolute;
  z-index: 5;
  width: 100%;
}

.listItems {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px 100px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  color: #fcf9f9;
}

.listItems a {
  display: inline-block;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

.listItems a:hover, .textContainer:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.imageContainer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  position: absolute;
}

.gallery {
  position: relative;
  height: 100%;
}

.gallery img {
  z-index: 2;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  max-width: 100%;
}

.gallery img:hover {
  -webkit-box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  -webkit-transition: -webkit-filter 3s ease-in-out;
  transition: -webkit-filter 3s ease-in-out;
  transition: filter 3s ease-in-out;
  transition: filter 3s ease-in-out, -webkit-filter 3s ease-in-out;
}

.textArea {
  z-index: 3;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.titleBox {
  top: 200px;
  margin: 0 20px 0 0;
  position: fixed;
  width: 400px;
}

.titleBox .textContainer {
  width: 450px;
  text-shadow: 3px 2px 40px black;
  font-size: 20px;
}

.titleBox .textContainer h1 {
  font-family: 'Raleway', sans-serif;
  color: #fcf9f9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleBox .textContainer p {
  mix-blend-mode: screen;
  font-family: 'Raleway', sans-serif;
  color: #fcf9f9;
}

.titleBox .textContainer p:hover {
  font-weight: 500px;
  text-shadow: 40px 40px 20px 40x black;
}

.textBelow {
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 8vh;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fcf9f9;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
}

.footerContainer {
  position: absolute;
  margin: auto 0 auto 0;
}

@media screen and (max-width: 500px) {
  .navbarContainer {
    min-height: 270vh;
  }
}
/*# sourceMappingURL=style.css.map */